.hero{
    width:100%;
    min-height:100vh;
    
    background:linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)),url('../../assets/fond.png');
    background-size:cover;
    background-position:center;
    
    color:#A67C00;
    
    display:flex;
    align-items:flex-start;
    justify-content:center;
    
    padding-top:210px;
    }
    
    /* TEXTE HERO */
    
    .hero-text{
    text-align:center;
    max-width:760px;
    }
    
    .hero-text h1{
    font-size:56px;
    font-weight:600;
    }
    
    .hero-text p{
    max-width:640px;
    margin:12px auto 20px;
    line-height:1.5;
    }
    
    /* CONTAINER GLOBAL */
    
    .hero-contact-container{
    margin-top:40px;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:40px;
    flex-wrap:nowrap;
    }
    
    /* TITRES */
    
    .hero-section h3{
    font-size:18px;
    margin-bottom:12px;
    font-weight:600;
    }
    
    /* GRID RDV */
    
    .hero-rdv{
    display:grid;
    grid-template-columns:repeat(2,200px);
    gap:20px;
    }
    
    /* CARTE CONTACT */
    
    .hero-rdv-btn{
    width:200px;
    height:90px;
    
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    
    background:#f2f2f2;
    
    border-radius:16px;
    
    text-decoration:none;
    color:#A67C00;
    
    transition:0.25s;
    }
    
    /* ICÔNES */
    
    .hero-rdv-btn img{
    width:22px;
    height:22px;
    object-fit:contain;
    }
    
    /* TEXTE */
    
    .hero-contact-title{
    font-size:12px;
    margin:0;
    font-weight:500;
    }
    
    .hero-contact-number{
    font-size:14px;
    font-weight:600;
    margin:0;
    }
    
    /* URGENCE */
    
    .urgence-box{
    display:flex;
    flex-direction:column;
    align-items:center;
    }
    
    /* BOUTON URGENCE */
    
    .hero-urgence-btn{
    width:200px;
    height:90px;
    
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    
    background:#f2f2f2;
    
    border-radius:16px;
    
    text-decoration:none;
    color:#A67C00;
    }
    
    /* ICONE URGENCE */
    
    .hero-urgence-btn img{
    width:22px;
    height:22px;
    }
    
    /* HOVER */
    
    .hero-rdv-btn:hover,
    .hero-urgence-btn:hover{
    background:#e9e9e9;
    transform:translateY(-2px);
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
    }
    
    /* MOBILE */
    
    @media(max-width:840px){
    
    .hero-text h1{
    font-size:38px;
    max-width:380px;
    margin:auto;
    }
    
    .hero-text p{
    font-size:14px;
    margin:15px auto 25px;
    }
    
    .hero-contact-container{
    flex-direction:column;
    align-items:center;
    gap:20px;
    }
    
    .hero-rdv{
    grid-template-columns:1fr;
    }
    
    .hero-rdv-btn,
    .hero-urgence-btn{
    width:220px;
    }
    
    }