.us{
    margin:100px auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:90%;
    max-width:1200px;
}

/* TEXTE */
.left-us{
    flex-basis:45%;
}

/* IMAGE */
.right-us{
    flex-basis:50%;   /* donne plus d’espace à l’image */
    display:flex;
    justify-content:center;
}

.right-us img{
    width:100%;
    max-width:750px;  /* image plus grande */
    border-radius:25px;
}

/* TEXTE */
.us p{
  color:#676767;
  max-width:700px;
  margin-bottom:12px;
  text-align:justify;
  line-height:1.7;
  font-weight:400;
}

/* RESPONSIVE */

@media (max-width: 900px){

    .us{
        flex-direction: column; /* passe en colonne */
        align-items: flex-start;
    }
    
    .left-us{
        flex-basis:100%;
        margin-bottom:30px;
    }
    
    .right-us{
        flex-basis:100%;
        width:100%;
    }
    
    .right-us img{
        max-width:100%;
    }
    
    .us p{
        max-width:100%;
    }
    
    }