.avis{
  position: relative;
  max-width:1200px;
  margin:100px auto;
  padding:0 40px;
}
.slider{
  display:flex;
  gap:25px;
  overflow-x:auto;
  scroll-behavior:smooth;
  }
  
  .slider::-webkit-scrollbar{
  display:none;
  }
  
  .slide{
  min-width:320px;
  background:white;
  padding:25px;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.05);
  }
  
  .user-info{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:10px;
  }
  
  .user-info img{
  width:45px;
  }
  
  .slide p{
  font-size:15px;
  line-height:1.6;
  }
  .next-btn,
.back-btn{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  width:50px;        /* taille réelle des flèches */
  height:50px;
  cursor:pointer;
  z-index:2;
}

.next-btn{
  right:-70px;
}

.back-btn{
  left:-70px;
}

@media (max-width:768px){

  .avis{
  padding:0 15px;
  margin:50px auto;
  }
  
  .slide{
  min-width:210px;   /* plus petit */
  padding:14px;
  border-radius:8px;
  }
  
  .user-info{
  gap:6px;
  margin-bottom:6px;
  }
  
  .user-info img{
  width:28px;
  }
  .user-info h3{
    font-size:13px;
    font-weight:600;
    }
    
    .user-info h4{
    font-size:11px;
    color:#777;
    }
  
  .slide p{
  font-size:13px;
  line-height:1.4;
  }
  
  .next-btn,
  .back-btn{
  width:28px;
  height:28px;
  }
  
  .next-btn{
  right:-20px;
  }
  
  .back-btn{
  left:-20px;
  }
  
  }
  .slider{
    padding-bottom:10px;
    }
  
  