.localisation{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

}

.locaLeft{
    flex-basis: 40%;
    position: relative;

}

.locaRight{
    flex-basis: 60%;
    margin-left: 30px;
}
.locaLeft video{
    width: 90%;
    max-width: 900px;
    height: auto;
   
   
    
}


@media(max-width: 800px){

    .localisation{
        flex-direction:column;
    }
    .locaLeft{
        flex-basis: 100%;
        display: flex;
        width: 100%;   
        justify-content: center;
        align-items: center;
    }

    .locaLeft video{
        max-width: 100%;
        max-height: 100%;
    }

    .locaRight{

        flex-basis: 100%;
        margin: 20px;
        
        
    }
}