.chirurgie{
    margin:100px auto;
    display:flex;
    align-items:flex-start;   /* remonte le texte */
    justify-content:space-between;
    width:90%;
    max-width:1200px;
}



.chirurgie-left{
    flex-basis:40%;
    display:flex;
    justify-content:center;
}

.chirurgie-right{
    flex-basis:56%;
}

.imgChirurgie{
    width:100%;
    max-width:750px;
    height:auto;
    border-radius:15px;
    
}

.chirurgie p,
.chirurgie ul,

.chirurgie li {
  color:#444;
  max-width: 800px;
  margin-bottom: 8px;
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: normal;
  line-height: 1.6;
  font-weight:500;
}

.chirurgie h3{
    margin-top:30px;
    margin-bottom:15px;
}

.chirurgie ul {
    list-style-type: none; 
    padding-left: 0; 
  }

  .rdv-box{
    margin-top:30px;
}

.rdv-actions{
    display:flex;
    gap:15px;
    background:white;
    padding:18px 22px;
    border-radius:12px;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
    width:fit-content;
}
.rdv-btn{
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px 16px;
    border-radius:8px;
    text-decoration:none;
    font-weight:500;
    color:#333;
    background:#f7f7f7;
    transition:0.3s;
}

.rdv-btn:hover{
    background:#eeeeee;
}

.rdv-btn img{
    width:22px;
}

.whatsapp{
    
    color:#A67C00;
}

.phone{
    
    color: #A67C00;
}

@media (max-width:900px){

    .chirurgie{
        flex-direction:column;
        gap:35px;
        margin:25px auto;
    }
    
    /* TEXTE */
    .chirurgie-right{
       
        width:100%;
        order:2;
    }
    
    /* IMAGE */
    .chirurgie-left{
        
        width:100%;
        justify-content:center;
        order:1;
    }
    
    /* IMAGE PLUS PETITE */
    .imgChirurgie{
        width:90%;
        max-width:420px;
        margin:auto;
        display:block;
    }
    
    }