.footer {
    background-color: #FAF9F6;
    color: #4B2E2B;
    font-family: 'Arial', sans-serif;
    padding: 40px 20px 20px 20px;
  }
  
  .footer a {
    color: #4B2E2B;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #40E0D0;
  }
  
  .footer-content {
    width: 100%;
  box-sizing: border-box; /* inclut padding dans la largeur */
  background-color: #E8E5DE;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
  
  .footer-contact, .footer-links, .footer-social {
    flex: 1 1 200px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-social .social-icons {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 120px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  