nav {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background-color: #E8E5DE;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
  }
  
  .logo-img {
    height: 150px;  /* ajuste selon ton besoin */
    top: 90%; 
    transform: translateY(-50%);
    z-index: 10;
    width: auto;
    position: absolute;
    margin-right: 20px;
    cursor: pointer;
 }
  
  nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0 auto; /* centre le menu horizontalement */
    padding: 0;
  }
  
  
  nav ul li a {
    color: #4B2E2B; /* marron bois */
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s, transform 0.2s;
  }
  
  nav ul li a:hover {
    color: #0077B6; /* bleu turquoise doux */
    transform: translateY(-2px); /* petit effet de “soulèvement” */

    
  }
   